
body { 
    background: url(../images/KaerMorhen.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

img  {
    width: 250px;
    height: 200px;
    /* padding: 5px; */
    /* border-width: 5px;
    border-style: solid;
    border-color: greenyellow; */
    border: 5px solid red;
    

}

h1 {
    background-color: white;
}
h2 {
    text-align: center;
}